* { box-sizing: border-box; padding:0; margin: 0; }

body {
  font-family: "HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
  color:white;
  font-size:12px;
  padding-top:20px !important;
}


img {
	border: none;
}

a { 
	color: #444340; 
}

#Header { 
	background: #EEBF02; height: 61px; padding: 0; border-bottom: 1px solid #3c3c3c;
}

#Header img { 
	display: block; margin: 0 auto 0;
}

#MainContent { 
  font-family: "HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
  color:white;
  font-size:12px;
  background:#292929;
}

#Footer { 
	padding: 10px;
	border-top: none;
	left:50%;
} 

#SocialLinks { 
	padding: 10px 0 0 0;
}

#SocialLinks:after {
	clear: both; content: "."; display: block; height: 0; visibility: hidden;
}

#SocialLinks a { 
	display: block; float: left; padding-right: 15px;
}

.landing { list-style: none; padding: 0; margin: 0; }
.landing:after { clear: both; content: "."; display: block; height: 0; visibility: hidden; }
.landing li { float: left; width: 50%; }
.landing li a { display: block; margin: 4px; border: 1px solid #3c3c3c; }
.landing li img { display: block; width: 100%; height: auto; }

/* Smartphones (landscape) ----------- */
@media only screen 
	and (min-width : 320px) {
		/* Styles */
		.landing li { float: left; width: 50%; }
		body {
			padding-top:40px!important;
		}
}

/* Smartphones (portrait) ----------- */
@media only screen 
	and (min-width : 481px) {
		/* Styles */
		.landing li { float: left; width: 33.2%; }
		body {
			padding-top:0px !important;
		}
}
}

/* Desktops and laptops ----------- */
@media only screen 
	and (min-width : 1024px) {
		/* Styles */
		.landing li { float: left; width: 25%; }
}