* { 
	box-sizing: border-box; 
	padding:0; 
	margin: 0;
   padding-top:0px !important;
}

body {
  font-family: "HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
  font-size:12px;
  color:#292929;
  background:#292929 !important;
  padding-top:0px !important;
  padding-bottom:0px !important;
}


img {
	border: none;
}

a { 
	color: #444340; 
}

#HeaderLandscape { 
background-size:100% 100%;
}

#HeaderLandscape img { 
}

#HeaderPortrait { 
background-size:100% 100%;
}

#HeaderPortrait img { 
}

#MainContent { 
}

.landing { list-style: none;}
.landing:after { clear: both; content: "."; display: block; height: 0; visibility: hidden; }
.landing li { float: left; width: 50%; }
.landing li a { display: block; margin: 4px; border: 1px solid #3c3c3c; }
.landing li img { display: block; width: 100%; height: auto; }

/* Smartphones (landscape) ----------- */
@media only screen 
	and (min-width : 320px) {
		/* Styles */
		.landing li { float: left; width: 50%; }
		#HeaderPortrait { 
			display: block;
		}
		#HeaderLandscape{ 
			display: none;
		}
}

/* Smartphones (portrait) ----------- */
@media only screen 
	and (min-width : 480px) {
		/* Styles */
		.landing li { float: left; width: 27%;}
		#HeaderPortrait { 
			display: none;
		}
		#HeaderLandscape{ 
			display: block;
		}
	}
}
